jsonschema
lxml
future
requests
click>=7.0
numpy
Pillow>=6.2.2
regex
scipy
protobuf>=3.0.0
jinja2
python-bidi
torchvision>=0.5.0
torch>=1.5.0,<=1.7.0
coremltools>=3.3
scikit-image<=0.17.2
shapely
pyvips
