<!DOCTYPE html>
<html {% if text_direction == "horizontal-rl" %}dir="rtl"{% endif %}>
	  <head>
		    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
		    <meta name="uuid" content="{{ uuid }}"/>
		    <meta itemprop="text_direction" content="{{ text_direction }}"/>
		    <style>
			   {% include 'style.css' %}
		    </style>
	  </head>
	  <body>
		    <script language="javascript" type="text/javascript">
			   {% include 'jquery-1.11.3.min.js' %}
		    </script>
		    <script>
			   $(document).ready(function() {
				     var uuid = $('meta[name=uuid]').attr('content');
				     if (localStorage) {
					       $('li[contenteditable=true], span').each(function(index) {
						         if(localStorage[uuid + this.id]) {
							           $(this).text(localStorage[uuid + this.id]);
						         }
					       });
				     }
				     // focus text fields when lines/words are clicked + mouseover
				     $('a.rect').click(function(e) {
					       e.preventDefault();
					       $('#' + $(this).attr('alt')).focus();
				     }).mouseover(function(e) {
					       $('#' + $(this).attr('alt')).addClass("hovered");
				     }).mouseout(function(e) {
					       $('#' + $(this).attr('alt')).removeClass("hovered");
				     });

				     // create mouseover effect on text fields
				     $('li[contenteditable=true], span').mouseover(function(e) {
					       console.log(this.id);
					       $('a.rect[alt=' + this.id + ']').addClass("hovered");
				     }).mouseout(function(e) {
					       $('a.rect[alt=' + this.id + ']').removeClass("hovered");
				     }).focusin(function(e) {
					       $('a.rect[alt=' + this.id + ']').addClass("hovered");
				     }).focusout(function(e) {
					       $('a.rect[alt=' + this.id + ']').removeClass("hovered");
				     }).keydown(function(e) {
					       if(e.which == 13) {
						         e.preventDefault();
						         $(this).addClass('corrected');
						         var $els = $('[contenteditable=true]');
						         $els.eq($els.index(this) + 1).focus();
					       }
				         // save to local storage 
				     }).keyup(function () {
					       localStorage[uuid + this.id] = $(this).text();
				     });
				     
				     // smooth scrolling
				     $('.page_anchor').click(function(e) {
					       e.preventDefault();
					       var target = $(this).attr("href");
					       var top = $(target).offset().top;
					       $('html, body').stop().animate({scrollTop: top }, 500);
				     });

				     // serializing the DOM to a file
				     $('#download_button').click(function(e) {
					       path = window.location.pathname;
					       $(this).attr('href', 'data:text/html,' + encodeURIComponent($('html')[0].outerHTML));
					       $(this).attr('download', path.substr(path.lastIndexOf('/') + 1));
				     });
			   });
		    </script>
		    <nav>
			      <ul>
			          {% for page in pages %}
				        <li><a class="page_anchor" href='#page_{{ page.index }}'>{{ page.index }}</a></li>
			          {% endfor %}
			      </ul>
			      <a id="download_button" href="#">Download</a>
		    </nav>

		    {% for page in pages %}
		    <section class="page container" id="page-{{ page.index }}">
			      <div class="column">
				        <div class="img-container" id="page-image-div">
					          <img style="width: 100%;" src="images/{{ page.index }}"
                         alt="photo"
                         id="page-image"/>
                    <canvas style="width: 100%" id="image-canvas"></canvas>
                    <script>var lines = [];</script>
					          {% for line in page.lines %}
					          <a class="rect" alt="line_{{ line.index }}" href="" title="" style="left: {{ line.left }}%; top: {{ line.top }}%; width: {{ line.width }}%; height: {{ line.height }}%; z-index: 2;" id="{{ line.index }}"></a>
                    <!-- This is the bounding boxes overlayed on the image -->
                    <script>
                     var line = {
                         "left" : "{{ line.left }}",
                         "width" : "{{ line.width }}",
                         "top" : "{{ line.top }}",
                         "height" : "{{ line.height }}",
                         "index" : "{{ line.index }}",
                         "bbox" : "{{ line.bbox  }}"
                     };
                     lines.push(line);
                    </script>
					          {% endfor %}
				        </div>
			      </div>
			      <div class="column">
                <fieldset>
                    <button onclick="deleteBoxes()" id="deleteButton">
                        Delete Marked Lines
                    </button>
                    <button onclick="undoDeletion()" id="undodeleteButton">
                        Undo Deletion
                    </button>
                    <button onclick="sortLines()" id="sortButton">
                        Sort Lines
                    </button>
                    <!-- <button onclick="addLines()" id="addLineButton"> -->
                    <!-- Add Lines -->
                    <!-- </button> -->
                </fieldset>
				        <ol id="text-line-list">
                    <!-- Contains the lines -->
				            {% for line in page.lines %}
                    <li class="item-group" id="{{ line.index }}">
                        <ul class="item-list" id="{{ line.index }}">
					                  <li id="{{ line.index }}" contenteditable="true" spellcheck="true" data-bbox="{{ line.bbox }}" data-placeholder="Enter text for line {{ line.index }}" class="editable-line">
                                <!-- This is the texts of the line on the image -->
						                    {% if line.text %}
							                  {{ line.text }}
						                    {% endif %}
                            </li>
                            <li class="line-widget" id="{{ line.index }}">
                                <label class="lbl-container">
                                    Mark as deleted
                                    <input type="checkbox" id="{{ line.index }}" class="delete-checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="lbl-container">
                                    Add Line Below
                                    <input type="checkbox" id="{{ line.index }}" class="below-checkbox">
                                    <span class="checkmark"></span>
                                </label>
                                <label class="lbl-container">

                                    Add Line Above
                                    <input type="checkbox" id="{{ line.index }}" class="above-checkbox">
                                    <span class="checkmark"></span>
                                </label>

					                  </li>
                        </ul>
                    </li>
				            {% endfor %}
                </ol>
			      </div>
		    </section>
		    {% endfor %}
        <script>
         var deletedNodes = [];
         function deleteBoxes(){
             /*
                Simple function for deleting lines whose checkboxes are selected
                Description:
                We query the input elements whose class is delete-checkbox.
                Then we check whether they are checked or not.
                If they are checked we delete the item group containing them
              */
             var deleteCheckBoxList = document.querySelectorAll("input.delete-checkbox");
             var dellength = deleteCheckBoxList.length;
             var deletedboxlength = 0;
             var i = 0;
             while(i!==dellength){
                 var cbox = deleteCheckBoxList[i];
                 var checkval = cbox.checked;
                 if(checkval===true){
                     // removing the element if checkbox is checked
                     var labelnode = cbox.parentNode;
                     var linewidgetNode = labelnode.parentNode;
                     var itemlistNode = linewidgetNode.parentNode;
                     var itemgroupNode = itemlistNode.parentNode;
                     var lineId = itemgroupNode.id;
                     // get the image line from the other column
                     var imageLineSelector = "a.rect[id='".concat(lineId,
                                                                  "']");
                     var imageLine = document.querySelector(imageLineSelector);
                     //
                     // remove both from the page
                     itemgroupNode.parentNode.removeChild(itemgroupNode);
                     imageLine.parentNode.removeChild(imageLine);
                     var deleted = {"imageline" : imageLine,
                                    "itemgroup" : itemgroupNode};
                     deletedNodes.push(deleted);
                     deletedboxlength +=1;
                 }
                 i+=1;
             }
             if(deletedboxlength === 0){
                 alert("Please select lines for deletion");
             }
         }
         //
         function undoDeletion(){
             if (deletedNodes.length === 0){
                 alert("Deleted line information is not found");
             }
             var lastObject = deletedNodes.pop();
             //
             var imageLine = lastObject["imageline"];
             var itemgroup = lastObject["itemgroup"];
             var imageparent = lastObject["imageparent"];
             var itemparent = lastObject["itemparent"];
             //
             imageparent.appendChild(imageLine);
             itemparent.appendChild(itemgroup);
             //
         }
         //
         function sortLines() {
             var lineList = document.querySelectorAll(".item-group");
             var itemparent = document.querySelector("#text-line-list");
             var linearr = Array.from(lineList).sort(
                 (a,b) => parseInt(a.id, 10) - parseInt(b.id, 10)
             );
             linearr.forEach(el => itemparent.appendChild(el) );
         }

        </script>

	  </body>
</html>
